.infocard {
  border: 1px solid #aa767c;
  border-radius: 10px;
  width: 100%;
  .title {
    text-transform: capitalize;
    background-color: #aa767c;
    color: #121417;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    padding: 10px;
  }
  .description {
    padding: 10px 20px;
  }
}
