@media (max-width: 40em) {
  body {
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
  }
  html {
    height: fill-available;
    height: -webkit-fill-available;
  }
}
