.dashboard {
  height: 10%;
  width: 100%;
  position: absolute;
  top: var(--doc-height);
  transform: translate(0, -100%);
  z-index: 1000;
  transition: all 200ms ease-in-out;
  overflow: hidden;
  .chart-container {
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  .toggle {
    z-index: 1000;
    visibility: visible !important;
    position: fixed;
    left: 5px;
    bottom: 5px;
    padding: 0.2rem 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    background-color: #8884d8;
    color: black;
    transition: all 200ms ease-in-out;
    &:hover {
      cursor: pointer;
    }
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
.large {
  height: 30%;
}

.invisible {
  visibility: collapse;
  .toggle {
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: black;
  }
}

.chart-enter {
  opacity: 0;
  transform: translateY(90%);
}
.chart-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms ease-in-out;
}
.chart-exit {
  opacity: 1;
  transform: translateY(0);
}
.chart-exit-active {
  opacity: 0;
  transform: translateY(90%);
  transition: opacity 500ms, transform 500ms ease-in-out;
}
