.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 1000;
  transition: all 200ms ease-in-out;
}
.large {
  height: 30%;
}
