.searchInput {
  padding: 0.1rem 1.5rem;
  border: none;
  font-size: 1rem;
}

.search-group {
  height: 100%;
  display: flex;
  align-items: stretch;
  button {
    border: none;
    border-left: solid #8884d8 2px;
    background-color: white;
    width: fit-content;
    &:hover {
      cursor: pointer;
      background-color: #8884d8;
    }

    &:hover svg {
      color: #f7f7f7;
    }
  }
  svg {
    color: #8884d8;
  }
}

.search-transition-enter {
  opacity: 0;
  transform: translateX(-90px);
}
.search-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms ease-in-out;
}
.search-transition-exit {
  opacity: 1;
  transform: translateX(0);
}
.search-transition-exit-active {
  opacity: 0;
  transform: translateX(-90px);
  transition: opacity 500ms, transform 500ms ease-in-out;
}
