.mapcontainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.search-wrapper {
  display: flex;
}

@media (max-width: 40em) {
  .elevation-chart {
    .custom-tooltip {
      visibility: collapse;
    }
  }
}
