.mapcontainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.search-wrapper {
  display: flex;
}

@media (max-width: 40em) {
  .elevation-chart {
    .custom-tooltip {
      visibility: collapse;
    }
  }
}

.leaflet-tile {
  -webkit-filter: hue-rotate(160deg) invert(80%);
}
